[submodule "/home/saifkharouf/personal-projects/ai-roadmap-for-software-engineers/projects/senior/2/multimodal_hybrid_search"]
	path = /home/saifkharouf/personal-projects/ai-roadmap-for-software-engineers/projects/senior/2/multimodal_hybrid_search
	url = https://github.com/saifkharoof/portofolio.git
